<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/public/css/registration_number.css">

  <title>registrations</title>

</head>

<body>
  <form action="/reg_numbers" method="POST">
    <div class="row">
      <div class="col-12">
        <div class="regNumbers ">
          <span>
            <h1 style="padding-left: 30%" class="center">Registration Numbers </h1>
            <div style="padding-left:30% " id="message">{{messages.message}}</div>

            <div class="row">
              <div style="padding-left: 30%;padding-top:2%" class="col-6">
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="reg-number" aria-label="Username"
                    aria-describedby="basic-addon1" name="plate" value="" maxlength="10"
                    onkeyup=" this.value=this.value.toUpperCase();">
                </div>
              </div>
            </div>
          </span>

        </div>
      </div>
    </div>
    <div class="row">
      <div style="padding-left:40%;padding-top:2%" class="col-12">
        <button type="submit" class="btn btn-success">add</button>

      </div>

    </div>
    <div class="error">

    </div>
  </form>
  <br>
  <form action="/" method="POST">
    <div style="padding-left:30%;padding-top:1.5%" class="row">
      <div class="col-12">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline3" name="town" class="custom-control-input" value="CA">
          <label class="custom-control-label" for="customRadioInline3">Cape Town</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="town" class="custom-control-input" value="CY">
          <label class="custom-control-label" for="customRadioInline2">Bellville</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline" name="town" class="custom-control-input" value="CJ">
          <label class="custom-control-label" for="customRadioInline">Parrow</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline4" name="town" class="custom-control-input" value="all">
          <label class="custom-control-label" for="customRadioInline4">All</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div style="padding-left:40%;padding-top:2%" class="col-12">
        <button type="submit" class="btn btn-success">show</button>

      </div>
      <br>
  </form>

  <div style="padding-left:40%;padding-top:2%" class="col-6">
    <form action="/reset" method="POST" onsubmit="return confirm('Are you sure you want to reset?')">

      <button type="submit" class="btn btn-danger">reset</button>
      <span class="sr-only">unread messages</span>

  </div>


  </div>
  <div class="row">
    <div class="col-12">



      {{#each regnums}}
      {{#if this.reg_numbers}}
      <li id="myList" style="list-style:none">{{this.reg_numbers}}</li>
      {{else}}
      <li id="myList" style="list-style:none">{{this}}</li>
      {{/if}}
      {{/each}}


    </div>
  </div>



</body>
</form>
<script src="registration_number.js" charset="utf-8"></script>


</html>