body {
    background-image:    url(./background_solid_spot_light_65990_1920x1080.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}